body {
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.boxforImage {
  position: relative;
}
.boxShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.heroDiv {
  text-align: center;
  position: absolute;
  color: #dfe6e9;
  top: 8vw;
  left: 35vw;
}
.heroName {
  font-size: 4vw;
}

.app .toolButts {
  margin-right: 1vw;
}
.sideBar {
  background-color: grey;
  width: 30%;
  position: absolute;
  margin-top: 3vw;

  margin-left: 2vw;
  z-index: 2;
  font-size: 1vw;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: nowrap;
}
.sideBar img {
  margin-top: 1vw;
  height: 13vw;
  width: 40%;
  border: solid black;
  border-radius: 100%;
}
